@import url(http://fonts.googleapis.com/css?family=Raleway:500,200);

@import "colors";

body, p, div, span, a, h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

html, body {
  height: 100%;
  width: 100%;
  // overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  background: $clouds;
  color: $wet-asphalt;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 75px auto auto auto;
}

a {
  text-decoration: none;
  color: $wet-asphalt;
}

section {
  &.header {
    h1 {
      font-size: 42px;
    }
  }

  &.mission {
    p {
      font-size: 36px;
      // color: $asbestos;

      strong {
        // color: lighten($asbestos, 3%);
      }
    }
  }

  &.presence {
    // outline: 1px $asbestos solid;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;

    .location {
      width: 300px;
      padding: 10px;
      transition: all 0.3s;
      flex: 0 1 auto;

      h3, p {
        margin: 0;
      }

      h3 {
        color: $midnight-blue;
      }

      p {
        color: $concrete;
        margin-bottom: 10px;
      }

      img.icon {
        height: 128px;
        width: 128px;
      }

      &:hover {
        background: lighten($clouds, 3%);
      }

      // &:first-child { outline: 1px red solid; }
      // &:last-child { outline: 1px orange solid; }
    }
  }
}